@import './config';
@import './home';
@import './menu';
@import './about';
@import './projects';
@import './contact';
@import './responsive';

// :root {
//     font-size: 62.5%;
// }

body {
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100vh;
    font-family: 'Segue UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    font-size: 1.6rem;
}

h1, h2, h3 {
    font-weight: 400;
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
    @include transition-ease;

    &:hover {
        color: $secondary-color;
    }
}

.text-secondary {
    color: $secondary-color;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1.6rem;
}

main {
    height: 100%;
    width: 100%;

    .social-icons {
        position: fixed;
        bottom: 1rem;
        left: 1rem;

        a {
            padding: 0.4rem;
            
            &:hover {
                color: $secondary-color;
            };
        }
    }
}

footer {
    font-size: 1rem;
    position: fixed;
    bottom: 0.4rem;
    right: 1rem;
    text-align: right;
    padding: 1rem;
    color:set-text-color($primary-color);
}